.card-body .card-icon {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 20px;
    line-height: 140px;
    font-size: 80px;
}

.card-header, .card-body, .card-footer{
    text-align: center;
}

.desabilitado{
    opacity: 0.3;
    color: grey;
}

.card-bodyex .card-icon {
    font-size: 80px;
    text-align: center;
    cursor: pointer;
}

.card-icon.bg-dark i{
    color: white;
}

.card .card-footer {
    padding-top: 10px;
}

.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
    color: #0d99ff;
}

.radio .cr .cr-icon {
    margin-left: 0px;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.modal.show .modal-dialog {
    max-width: 40%;
    min-width: 520px;
}

.alternativa {
    background-color: aliceblue;
    height: 50px;
    margin: 10px;
    text-align: left;
    padding-top: 15px;
    border-radius: 50px;
}


.m-bottom-20{
    margin-bottom: 20px;
}

.modal-content {
    text-align: center;
    background-color: #bbdcda;
}

.top-20{
    margin-top: 20px;

}

.sem-estilo{
    list-style: none;
}

.pergunta{
    font-size: 15px;
}

.questao{
    text-align: center;
}

.btn-orange{
    background-color: #ff5959a1;
    color: black;
    border-radius: 15px;
}

.btn-orange:hover{
    background-color: white;
    color: black;
    border-radius: 15px;
}

.escondido{
    display:none;
}